<div class="sideBar layui-bg-black">
    <ul class="layui-nav layui-nav-tree" lay-filter="nav">
        <li class="layui-nav-item layui-nav-itemed">
            <a href="/customer/manage/company">公司设置</a>
        </li>
    </ul>
</div>
