<div class="sideBar layui-bg-black">
    <ul class="layui-nav layui-nav-tree" lay-filter="nav">
        <li class="layui-nav-item layui-nav-itemed">
            <a href="/customer/module/slider">轮播图配置</a>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
            <a href="/customer/module/contact">联系我们</a>
        </li>
    </ul>
</div>
