<div class="sideBar layui-bg-black">
    <ul class="layui-nav layui-nav-tree" lay-filter="nav">
        <li class="layui-nav-item layui-nav-itemed">
            <a href="/customer/posts">文章列表</a>
        </li>
        <li class="layui-nav-item">
            <a href="/customer/post/add">添加文章</a>
        </li>
    </ul>
</div>
