<% include common/head.ejs %>
    <link href="/static/css/owl.carousel.css" rel="stylesheet">
    <script src="/static/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function() {

            $("#owl-demo").owlCarousel({
                items : 4,
                lazyLoad : true,
                autoPlay : true,
                navigation : true,
                navigationText : ["", ""],
                rewindNav : false,
                scrollPerPage : false,
                pagination : false,
                paginationNumbers : false,
            });

        });
    </script>
    <script>
        (function($){
            $.fn.percentPie = function(options){

                var settings = $.extend({
                    width: 100,
                    trackColor: "EEEEEE",
                    barColor: "E2534B",
                    barWeight: 30,
                    startPercent: 0,
                    endPercent: 1,
                    fps: 60
                }, options);

                this.css({
                    width: settings.width,
                    height: settings.width
                });

                var	that = this,
                        hoverPolice = false,
                        canvasWidth = settings.width,
                        canvasHeight = canvasWidth,
                        id = $('canvas').length,
                        canvasElement = $('<canvas id="'+ id +'" width="' + canvasWidth + '" height="' + canvasHeight + '"></canvas>'),
                        canvas = canvasElement.get(0).getContext("2d"),
                        centerX = canvasWidth/2,
                        centerY = canvasHeight/2,
                        radius = settings.width/2 - settings.barWeight/2;
                counterClockwise = false,
                        fps = 1000 / settings.fps,
                        update = .01;
                this.angle = settings.startPercent;

                this.drawArc = function(startAngle, percentFilled, color){
                    var drawingArc = true;
                    canvas.beginPath();
                    canvas.arc(centerX, centerY, radius, (Math.PI/180)*(startAngle * 360 - 90), (Math.PI/180)*(percentFilled * 360 - 90), counterClockwise);
                    canvas.strokeStyle = color;
                    canvas.lineWidth = settings.barWeight;
                    canvas.stroke();
                    drawingArc = false;
                }

                this.fillChart = function(stop){
                    var loop = setInterval(function(){
                        hoverPolice = true;
                        canvas.clearRect(0, 0, canvasWidth, canvasHeight);

                        that.drawArc(0, 360, settings.trackColor);
                        that.angle += update;
                        that.drawArc(settings.startPercent, that.angle, settings.barColor);

                        if(that.angle > stop){
                            clearInterval(loop);
                            hoverPolice = false;
                        }
                    }, fps);
                }

                this.mouseover(function(){
                    if(hoverPolice == false){
                        that.angle = settings.startPercent;
                        that.fillChart(settings.endPercent);
                    }
                });

                this.fillChart(settings.endPercent);
                this.append(canvasElement);
                return this;
            }
        }(jQuery));

        $(document).ready(function() {

            $('.google').percentPie({
                width: 100,
                trackColor: "E2534B",
                barColor: "76C7C0",
                barWeight: 20,
                endPercent: .9,
                fps: 60
            });

            $('.moz').percentPie({
                width: 100,
                trackColor: "E2534B",
                barColor: "76C7C0",
                barWeight: 20,
                endPercent: .75,
                fps: 60
            });

            $('.safari').percentPie({
                width: 100,
                trackColor: "E2534B",
                barColor: "#76C7C0",
                barWeight: 20,
                endPercent: .5,
                fps: 60
            });

        });
    </script>
<% include common/header %>
<div class="main_bg"><!-- start main -->
    <div class="container">
        <div class="main_grid1">
            <h3 class="style pull-left">公司简介</h3>
            <ol class="breadcrumb pull-right">
                <li><a href="/">首页</a></li>
                <li class="active">公司简介</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="main_btm1"><!-- start main_btm1 -->
    <div class="container">
        <div class="main about span_of_3">
            <h3>三湖阳光食品(青岛)有限公司</h3>
            <p class="para"><%= company.intro %></p>
            <div class="col-md-3 span1_of_3">
                <h4>为何选择三湖</h4>
                <ul class="list-unstyled nav_list">
                    <li><a href="single-page.html">严谨的生产工艺</a></li>
                    <li><a href="single-page.html">原材料</a></li>
                    <li><a href="single-page.html">显示技术实力的文章标题文字</a></li>
                    <li><a href="single-page.html">显示技术实力的文章标题文字显示技术</a></li>
                    <li><a href="single-page.html">显示技术实力的文章标题文字</a></li>
                    <li><a href="single-page.html">显示技术实力的文章标题文字显示技术实力的文章标题文字</a></li>
                    <li><a href="single-page.html">显示技术实力的文章标题文字</a></li>
                </ul>
            </div>
            <div class="col-md-3 span1_of_3">
                <h4>客户评价</h4>
                <div class="clients1">
                    <p><%= company.evaluate %></p>
                </div>
            </div>
            <div class="col-md-6 span1_of_3">
                <!-- start circle -->
                <img src="./static/images/s4.jpg" width="500px" height="280px" style="padding-left:30px;" alt="#">
                <!-- end circle -->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="main_btm2" style="padding-top:20px;"><!-- start main_btm2 -->
    <div class="container">
        <!-- end pricing2 -->
        <div class="cursual"><!--  start cursual  -->
            <h4>我们的团队<span class="line"></span></h4>
        </div>
        <div id="owl-demo" class="owl-carousel"><!----start-img-cursual---->
            <div class="item">
                <div class="cau_left">
                    <img class="lazyOwl" data-src="./static/images/c1.png" alt="Lazy Owl Image">
                </div>
            </div>
            <div class="item">
                <div class="cau_left">
                    <img class="lazyOwl" data-src="./static/images/c2.png" alt="Lazy Owl Image">
                </div>
            </div>
            <div class="item">
                <div class="cau_left">
                    <img class="lazyOwl" data-src="./static/images/c3.png" alt="Lazy Owl Image">
                </div>
            </div>
            <div class="item">
                <div class="cau_left">
                    <img class="lazyOwl" data-src="./static/images/c1.png" alt="Lazy Owl Image">
                </div>
            </div>
            <div class="item">
                <div class="cau_left">
                    <img class="lazyOwl" data-src="./static/images/c2.png" alt="Lazy Owl Image">
                </div>
            </div>
            <div class="item">
                <div class="cau_left">
                    <img class="lazyOwl" data-src="./static/images/c3.png" alt="Lazy Owl Image">
                </div>
            </div>
            <div class="item">
                <div class="cau_left">
                    <img class="lazyOwl" data-src="./static/images/c1.png" alt="Lazy Owl Image">
                </div>
            </div>
            <div class="item">
                <div class="cau_left">
                    <img class="lazyOwl" data-src="./static/images/c4.png" alt="Lazy Owl Image">
                </div>
            </div>
            <div class="item">
                <div class="cau_left">
                    <img class="lazyOwl" data-src="./static/images/c1.png" alt="Lazy Owl Image">
                </div>
            </div>
            <div class="item">
                <div class="cau_left">
                    <img class="lazyOwl" data-src="./static/images/c2.png" alt="Lazy Owl Image">
                </div>
            </div>
            <div class="item">
                <div class="cau_left">
                    <img class="lazyOwl" data-src="./static/images/c3.png" alt="Lazy Owl Image">
                </div>
            </div>
            <div class="item">
                <div class="cau_left">
                    <img class="lazyOwl" data-src="./static/images/c1.png" alt="Lazy Owl Image">
                </div>
            </div>
            <div class="item">
                <div class="cau_left">
                    <img class="lazyOwl" data-src="./static/images/c2.png" alt="Lazy Owl Image">
                </div>
            </div>
        </div><!----//End-img-cursual---->
    </div>
</div>
<% include common/footer %>
