<% include common/head.ejs %>
<% include common/header.ejs %>
<div class="main_bg"><!-- start main -->
    <div class="container">
        <div class="main_grid1">
            <h3 class="style pull-left">公司动态</h3>
            <ol class="breadcrumb pull-right">
                <li><a href="/">首页</a></li>
                <li class="active">关于我们</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="main_btm1"><!-- start main_btm -->
    <div class="container">
        <div class="details">
            <h2><%= result.title %><p class="h5"><%= result.time %></p></h2>
            <%- result.details %>
            <div class="clearix"></div>
            <a href="javascript:history.back(-1);" class="btn">返回列表</a>
        </div>
    </div>
</div>
<% include common/footer.ejs %>
