body {
    position: relative;
    min-height: 100vh;
}
.admin {
    max-width: 440px;
    width: 440px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header {
    float: left;
    width: 100%;
}
.user {
    float: right;
}
.nav {
    float: left;
}
.logo {
    float: left;
    margin-left: 20px;
    width: 200px;
}
.container {
    width: 100%;
    overflow: hidden;
}
.sideBar {
    float: left;
    min-height: 100vh;
    position: absolute;
    top: 60px;
    bottom: 0;
}
.content {
    overflow: hidden;
    margin: 20px 20px 20px 220px;
}
.layui-upload-img {
    max-width: 100px;
}

/* table 样式 */
.details p {
    font-size: 14px;
}
.details table {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.details table td,
.details table th {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 3px 5px;
}
.details table th {
    border-bottom: 2px solid #ccc;
    text-align: center;
}

/* blockquote 样式 */
.details blockquote {
    display: block;
    border-left: 8px solid #d0e5f2;
    padding: 5px 10px;
    margin: 10px 0;
    line-height: 1.4;
    font-size: 100%;
    background-color: #f1f1f1;
}

/* code 样式 */
.details code {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background-color: #f1f1f1;
    border-radius: 3px;
    padding: 3px 5px;
    margin: 0 3px;
}
.details pre code {
    display: block;
}

/* ul ol 样式 */
.details ul, ol {
    margin: 10px 0 10px 20px;
}
