body {
    position: relative;
    min-height: 100vh;
}
.admin {
    max-width: 440px;
    width: 440px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header {
    float: left;
    width: 100%;
}
.user {
    float: right;
}
.nav {
    float: left;
}
.logo {
    float: left;
    margin-left: 20px;
    width: 200px;
}
.container {
    width: 100%;
    overflow: hidden;
}
.sideBar {
    float: left;
    min-height: 100vh;
    position: absolute;
    top: 60px;
    bottom: 0;
}
.content {
    overflow: hidden;
    margin: 20px 20px 20px 220px;
}
.layui-upload-img {
    max-width: 100px;
}
