<div class="footer_bg"><!-- start footer -->
    <div class="container">
        <div class="footer">
            <div class="col-md-6 footer1_of_3">
                <div class="f_logo">
                    <a href="index.html"><img src="images/logo.png" alt=""/></a>
                </div>
                <p class="f_para"><%= company.intro %></p>
                <p>电话:&nbsp;<span><%= company.tel %></span></p>
                <span class="">邮箱:&nbsp;<a href="mailto:info@mycompany.com"><%= company.email %></a></span>
            </div>
            <div class="col-md-3 footer1_of_3">
                <h4>站内地图</h4>
                <ul class="list-unstyled f_list">
                    <li><a href="/">主页</a></li>
                    <li><a href="/company-profile">公司简介</a></li>
                    <li><a href="/company-dynamics">公司动态</a></li>
                    <!--<li><a href="/fish-cake">鱼饼介绍</a></li>-->
                    <li><a href="/product">产品中心</a></li>
                    <li><a href="/practice">料理方法</a></li>
                    <li><a href="/contact">联系我们</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer1_of_3">
                <h4>友情连接</h4>
                <ul class="list-unstyled f_list">
                    <li><a href="#">百度</a></li>
                    <li><a href="#">谷歌</a></li>
                    <li><a href="#">Curabitur pellentesque</a></li>
                    <li><a href="#">Mauris dictum neque</a></li>
                    <li><a href="#">Lorem ipsum dolor sit</a></li>
                    <li><a href="#">Nullam nec sapien</a></li>
                    <li><a href="#">Curabitur mauris tempor </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer1_bg"><!-- start footer1 -->
    <div class="container">
        <div class="footer1">
            <div class="copy">
                <p class="link">Copyright © 2017.Company samhofood All rights reserved.</a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>